html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./assets/dark_wood.png);
}

.main-container {
    position: relative;
    margin: 20px 0 50px 0;
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgba(90, 90, 90, 0.381);
    border-radius: 2%;
}

.field {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.animation {
    transition: all linear 0.2s;
}

.blocked {
    pointer-events: none;
}

.dice {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    aspect-ratio: 1 / 1;
    background: url(./assets/footer_lodyas.png);
    font-size: 5rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10%;
    z-index: 1;
    color: white;
}

.dice-9 {
    width: 33.333%;
}
.dice-16 {
    width: 25%;
}
.dice-25 {
    width: 20%;
}
.dice-36 {
    width: 16.7%;
}
.dice-49 {
    width: 14.28%;
}
.dice-64 {
    width: 12.5%;
    font-size: 3rem;
}

.hidden {
    opacity: 0;
}


.control-panel {
    margin-top: 50px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.control-buttons-container {
    display: flex;
    gap: 15px;
}

.control__button {
    width: 100%;
    padding: 2px;
    font-size: 1.4rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.info-panel {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    color: white;
}

.diff-panel {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.diff {
    cursor: pointer;
    padding: 5px;
    border-radius: 30%;
}

button {
    transition: all linear 0.2s;
}

button:hover {
    background-color: rgb(82, 82, 82);
    color: white;
}

.main-notification {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(1, 1, 1, 0.614);
    border: 3px solid transparent;
    border-radius: 2%;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.scoreboard {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(1, 1, 1, 0.614);
    color: black;
    font-size: 2rem;
    gap: 5px;
}

.result-string {
    max-width: 600px;
    width: 100%;
    padding: 3px 0 3px 10px;
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
}

.result-string-empty {
    max-width: 600px;
    width: 100%;
    padding: 3px 0 3px 10px;
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 400px) {
    html {
        font-size: 8px;
    }
}